<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185599076136-q02fsc7ct9d2hvkl7qqqphe2r1hgoneo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185599076136-q02fsc7ct9d2hvkl7qqqphe2r1hgoneo</string>
	<key>API_KEY</key>
	<string>AIzaSyD3BJcK1_E76YLGt4TU2CZFegJL0rkZfeE</string>
	<key>GCM_SENDER_ID</key>
	<string>185599076136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentication</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-4e1f7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-4e1f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185599076136:ios:75882a4ea26239b45d921d</string>
</dict>
</plist>